<h1>New Chatroom</h1>

<%= form_with(model: @chatroom, url: chatrooms_path, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>


  <%= form.submit "Create Chatroom", class: "btn btn-primary" %>
<% end %>
